<div class="content">
    <form name="contactForm" novalidate ng-submit="sendMessage()">
        <input type="text" placeholder="name" name="name" ng-required="true" ng-model ="contact.name"/>
        <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
            <small style="color: red; display: block; text-align: center;">Enter a valid name</small>
        </div>
        <input type="email" placeholder="Email" name="email" ng-required="true" ng-model="contact.email"/>
        <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
            <small style="color: red; display: block; text-align: center;">Enter a valid Email</small>
        </div>
        <textarea name="message" placeholder="Your message" ng-required="true" ng-model="contact.message"></textarea>
        <div ng-show="contactForm.message.$touched && contactForm.message.$invalid">
            <small style="color: red; display: block; text-align: center;">Enter a valid name</small>
        </div>
        <input type="submit" value="Send" ng-disabled = "contactForm.$invalid"/>
    </form>
</div>